<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">dehaze</i></a>
      <a href="/" class="brand-logo center">StoryBook</a>
      
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="sidenav" id="slide-out">
        {{#if user}} 
        {{else}}
        <li>
          <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
          <a href="/auth/facebook" class="btn blue darken-3"><i class="fa fa-facebook left"></i>Login With FB</a>
        </li>
        {{/if}}
        <li><a class="waves-effect" href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{#if user}}
        <li class="divider"></li>
        <li><a class="waves-effect" href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
        <li><a class="waves-effect" href="/stories/my"><i class="fa fa-user"></i> My Stories</a></li>
        <li><a class="waves-effect" href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>
      
    </div>
  </div>
</nav>