<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">StoryBook</a>
      <a href="#" data-activates="main-menu" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">dehaze</i></a>

      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="sidenav" id="slide-out">
        {{#if user}}
        {{else}}
        <li>
          <a class="btn red merabtn darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
          <a href="/auth/facebook" class="btn merabtn blue darken-3"><i class="fa fa-facebook left"></i> Login With
            Facebook</a>
          <a href="/auth/github" class="btn brown merabtn darken-4"><i class="fa fa-github left"></i> Login with Github</a>
          <a href="/auth/linkedin" class="btn blue merabtn accent-3"><i class="fa fa-linkedin left"></i> Login With
            LinkedIN</a>
          <a href="/auth/twitter" class="btn blue merabtn lighten-1"><i class="fa fa-twitter left"></i> Login With
            Twitter</a>
          <a href="/auth/instagram" class="btn merabtn mybtn"><i class="fa fa-instagram left"></i> Login With Insta</a>
        </li>
        {{/if}}
        <li><a class="waves-effect" href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{#if user}}
        <li class="divider"></li>
        <li><a class="waves-effect" href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
        <li><a class="waves-effect" href="/stories/my"><i class="fa fa-user"></i> My Stories</a></li>
        <li><a class="waves-effect" href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>