body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.story-text {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

.mybtn {
  background-image: linear-gradient(22deg, yellow, orange, red, magenta);
}

.merabtn {
  font-size: 12px !important;
  overflow: hidden;
}

.welbtn {
  width: 30%;
}

@media (max-width: 420px) {
  .welbtn {
    font-size: 9px !important;
    text-align: left;
  }

}

@media (max-width:440px){
  .brand-logo {
    font-size: 25px !important;
  }
}
