<h1>Welcome</h1>
<p>Welcome to StoryBook 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world or completely private as your own personal diary</p>

{{#if user}}
{{else}}

<div class="container">
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a><br /><br />
<a href="/auth/facebook" class="btn blue darken-3"><i class="fa fa-facebook left"></i> Login With Facebook</a><br /><br />
<a href="/auth/github" class="btn brown darken-4"><i class="fa fa-github left"></i> Login with Github</a><br /><br />
<a href="/auth/linkedin" class="btn blue accent-3"><i class="fa fa-linkedin left"></i> Login With LinkedIN</a><br /><br />
<a href="/auth/twitter" class="btn blue lighten-1"><i class="fa fa-twitter left"></i> Login With Twitter</a><br /><br />
<a href="/auth/instagram" class="btn mybtn"><i class="fa fa-instagram left"></i> Login With Instagram</a><br /><br />
</div>

{{/if}}
